.list-item {
    display: inline-block;
    width: 120px;
    margin: 0 0 30px 30px;
    height: 140px;
    background-color: #F5DEB3;
    vertical-align: top;    

    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &:last-child {
        background-color: transparent;
        text-align: center;
        line-height: 170px;
    }
}